<div class="main-content" align="center">
    <div class="container-fluid col-lg-6 col-md-12">
        <div class="card-body">

            <div class="logo">
                <div class="simple-text">
                    <div class="logo-img">
                        <img src="/assets/img/favicon.png" />
                    </div>
                    <span style="color: red">Frequência</span>
                </div>
            </div>


            <div class="separator"></div>
            <div class="row col-lg-6 col-md-12">
                <label for="filter">{{ msgReturn }}</label>
            </div>
            <a [hidden]="isErro" class="nav-link" [routerLink]="['/registrar-ponto']">
                <p>Registrar Frequência</p>
            </a>
        </div>
    </div>
</div>