img{
    border-radius: 50%;
}
h2{
    font-size: 18px;
    color: #666;
}

body{
    background: "../assets/img/bg-image-login.jpg" no-repeat center !important; 
    background-size: cover !important;
}