<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="card-header card-header-blueflem" style="text-align:center">
          <div class="card-title font-weight h4" align="center">
            <table>
              <tr>
                <td><b>Reprovar Justificativa</b></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card-body text-align-justify">
          <table class="table table-hover">
            <thead>
              <th><b>Entrada:</b>{{data.obj.horaInicio}}</th>
              <th><b>Saida:</b>{{data.obj.horaFim}}</th>
            </thead>
          </table>
          <div>
            <div>Observação:</div>
            <textarea class="mdc-text-field__input" maxlength="200" rows="5" style="min-width: 100%"
              [(ngModel)]="observacao"></textarea>
              <mat-error *ngIf="!observacao">Campo Obrigatório</mat-error>  
          </div>
          <form form [formGroup]="form">
            <div *ngIf="data.obj.tipo=='Falta Médica'">
              <label>Anexar Novamente?</label>
              <mat-slide-toggle id="anexarNovamente"  formControlName="anexarNovamente" #anexarNovamente>{{anexarNovamente.checked | boolean : ['Sim', 'Não']}}</mat-slide-toggle>
            </div>
          </form>
          <div mat-dialog-actions>
            <button mat-raised-button class="btn btn-danger pull-left" (click)="reprovar()">
              <i class="material-icons">not_interested</i>Reprovar</button>
            <button mat-button (click)="onNoClick()" class="btn pull-right" style="background-color: gray;">
              <i class="material-icons">close</i>Fechar</button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>