<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="card-header card-header-blueflem" style="text-align:center">
          <div class="card-title font-weight h4" align="center">
            <table>
              <tr>
                <td><b>{{ titulo }}</b></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card-body text-align-justify">
          <div mat-dialog-content>
            <form [formGroup]="newForm">
              <div class="row" *ngIf="!data.aprovar">
                <div>
                  <div>Observação:</div>
                  <textarea class="mdc-text-field__input" maxlength="200" rows="5" style="min-width: 310%;margin-left: 11%;"
                    formControlName="observacao"></textarea>
                  <span *ngIf="!newForm.controls.observacao.valid" style="color:red;font-size:80%">Campo
                    Obrigatório</span>
                </div>
              </div>
              <div class="row" *ngIf="data.aprovar">
                <div class="col-md-12">
                  <span><b>Você deseja realmete aprovar este arquivo?</b></span>
                </div>
              </div>
            </form>
          </div>
          <div mat-dialog-actions>
            <button mat-raised-button class="btn pull-left btn-danger" (click)="reprovar()" *ngIf="!data.aprovar">
              <i class="material-icons">not_interested</i>Reprovar</button>
            <button mat-raised-button class="btn pull-left btn-success" (click)="aprovar()" *ngIf="data.aprovar">
              <i class="material-icons">done</i>Aprovar</button>
            <button mat-button class="btn pull-right" style="background-color:grey;" (click)="onNoClick()">
              <i class="material-icons">close</i>Fechar</button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>