<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Banco de Horas Por Projeto</h4>
          </div>
          <div class="card-body">
            <form class="filter-full-width" form [formGroup]="form">
              <div class="row">
              <div class="col-md-2">
                <label for="filter">Matrícula:</label>
                <input type="text" class="form-control" formControlName="matricula" id="matricula" >
              </div>
              <div class="col-md-2">
                <label for="filter">Mês Ano:</label>
                <input type="text" class="form-control" formControlName="competencia" id="competencia"
                  [textMask]="{mask: mask}" required>
              </div>
            </div>
            </form>
            <br />
            <app-projetos></app-projetos>
            <span style="color:red">Campo Obrigatório</span> 
            <div class="row">
              <button mat-raised-button (click)="pesquisar()" class="btn btn-info pull-left" [hidden]="loading">
                <i class="material-icons">search</i>Pesquisar</button>
              </div>
            <div [hidden]="!loading" align="center" style="width: 100%">
              <h4>Buscando...</h4>
              <mat-spinner [diameter]="40"></mat-spinner>
            </div>
            <br /> 
            <br />
            <div [hidden]="loading || !mostrarPesquisa">
              <!-- <div [hidden]="loading && !mostrarPesquisa" class="row">
                <button mat-raised-button class="btn btn-danger pull-right" (click)="downloadPDF()" [hidden]="true">
                  <i class="material-icons">print</i>Imprimir
                </button>
              </div> -->
              <div [hidden]="loading || !mostrarPesquisa" class="table-responsive">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
              </mat-form-field>
                <mat-table #table [dataSource]="dados" #sort="matSort" matSort>
                  <ng-container matColumnDef="{{ column.id }}" *ngFor="let column of columnNames">
                    <mat-header-cell *matHeaderCellDef> {{column.value}} </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                    <span *ngIf="column.id!='acao'">{{element[column.id]}}</span>
                    <table  *ngIf="column.id=='acao'">
                        <td><span  title="Individual" style="cursor: pointer;" (click)="gerarRelatorioIndividual(element['matricula'])"><i class="material-icons">cloud_download</i></span></td>
                        <td><span  *ngIf="individual" title="Individual Mensal" style="cursor: pointer;color: darkblue;" (click)="gerarRelatorioIndividualMensal(element['matricula'])"><i class="material-icons">archive</i></span></td>
                    </table>       
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator [length]="dados.data.length" #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                <button mat-raised-button class="btn btn-success pull-left" (click)="exportAsXLSX()"
                [hidden]="!mostrarPesquisa || loading">
                <img src="/assets/img/icons8-microsoft-excel-48.png" style="width:23px" />Exportar XLSX</button> 
              </div>
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>